div.events {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.top {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.bottom {
  height: 10vh;
  width: 96vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

span.name {
  font-size: 2vw;
}

div.list {
  border: 1px solid #000000ae;
  width: 96vw;
  height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

input.add-event {
  height: 7vh;
  flex: .9;
  font-size: 1.5vw;
  padding: 0 1vw;
  border: none;
  border-bottom: 1px solid black;
}

button.send {
  height: 7vh;
  width: 7vh;
  flex: .1;
  margin-left: 1vw;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(0, 128, 0, 0.75);
  color: #ffffff;
}

button.send > svg {
  height: 1.7vw;
  width: 1.7vw;
}

button.back {
  height: 6vh;
  width: 6vh;
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0;
  background-color: rgba(0, 0, 255, 0.75);
  color: #ffffff;
}

button.back > svg {
  height: 1.5vw;
  width: 1.5vw;
}

.list > ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.list > ul > li {
  list-style-type: none;
  border-radius: 20px;
}

div.event.text {
  font-size: 2vw;
  border-radius: 10px;
  margin: .3vh 1vh;
  padding: .5vh 1vw;
  width: fit-content;
  color: #fff;
}

div.sent {
  background-color: rgba(0, 129, 11, 0.9);
}

div.received {
  background-color: rgba(4, 49, 247, 0.9)
}

li.sent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (orientation: portrait) {
  span.name {
    font-size: 3vh;
  }

  input.add-event {
    font-size: 2vh;
  }

  button.send > svg {
    height: 1.7vh;
    width: 1.7vh;
  }

  button.back > svg {
    height: 1.5vh;
    width: 1.5vh;
  }

  div.event.text {
    font-size: 2vh;
    margin: .2vh 1vw;
    padding: .2vh 2vw;
  }
}