.home.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.30);
  color: #ffffff;
  font-size: 1vw;
  z-index: 500;
}

.home.container>.bg-video {
  position: absolute;
  height: 100vh !important;
  width: 100vw !important;
  z-index: -50;
}

.home.container>.bg-video>video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh !important;
  object-fit: cover;
}

span.label.title {
  font-size: 3vw;
}

input.event {
  width: 80%;
  padding: 2vh 2vw;
  border-radius: 8px;
  font-size: 12px;
  margin: 3vh 0;
  font-size: 2vw;
}

button.enter-link {
  background-color: #5468ff;
  padding: 2vh 15vw !important;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: 2vw;
  color: #fff;
}

@media screen {
  span.label.title {
    font-size: 3vh;
  }
  
  input.event {
    font-size: 2vh;
  }
  
  button.enter-link {
    font-size: 2vh;
  }
}